---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

import {Image} from '@astrojs/image/components';

const links: string[] = ['about', 'skills', 'projects', 'contact'];

---

<Layout title="Mateusz Hladky">
  <nav class="w-full flex justify-between py-8 px-16 items-center fixed top-0 left-0">
    <a href="#hero">
      <Image src="/Logo.svg" alt="Logo" width={80} height={42} />
    </a>
    <div class="flex gap-20">
      {links.map((link, i) => (
        <a class="flex group gap-[6px] items-end" href={`#${link}`}>
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-accent-gradient-1 to-accent-gradient-2 font-lato">{i + 1}.</span>
          <span class="text-xl text-heading-primary group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-accent-gradient-1 group-hover:to-accent-gradient-2">
            {`${link.charAt(0).toUpperCase()}${link.slice(1)}`}
          </span>
        </a>  
      ))} 
    </div>
  </nav>
  <Hero />
</Layout>        