---
export interface Props {
  num: number;
  title: string;
}

const { num, title } = Astro.props;
---

<h1 class="flex gap-4 items-baseline">
  <span class="text-gradient font-lato text-3xl sm:text-4xl">{num}.</span>
  <span class="text-heading-primary text-5xl sm:text-6xl font-bold">{title.toUpperCase()}</span>
</h1>